body {
  margin: 0
  font-family: 'Calibri', sans-serif
  font-size 14px
  overflow-y: scroll
  overflow-x: hidden
  height: 100vh
}

html {
  background-color: #101010
  color: rgba(250, 250, 250, 0.9)
  scroll-behavior: smooth
}

#app-container {
  display: flex
  flex-direction: column
  height: 100%
  box-sizing: border-box
}

h1 {
  font-size: 56px
}
